<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<!-- CSS overrides - remove if you don't need it -->
		<%= stylesheet_link_tag 'application' %>
		<%= javascript_include_tag 'application' %>
	</head>
	<body>
		<% if session[:user_id] %>
  		<%= button_to 'Logout', logout_path, method: :delete %>
  	<% end %>
		<%= yield %>
	</body>
</html>
